/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;700&display=swap');

html, body{
    width: 100vw;
    height: 100vh;
    
    background-color: black;
    color: $light;
    color-scheme: dark;
    accent-color: $acc2;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    overflow-x: hidden;
}

h1, .h1,  h2, .h2,  h3, .h3,  h4, .h4, h5, .h5, h6, .h6, a, html, body, button, input, hr{
    font-family: 'Jost', 'Open Sans', sans-serif;
    font-weight: 200;

    padding: 0;
    margin: 0;
    margin-block-start:0px;
    margin-block-end:0px;
}
body{
    background: radial-gradient(50% 50% at 50% 50%, #07071D 0%, #07070C 100%);
    padding: 24px;
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    position: relative;
}

h1,.h1{font-size: 73.24px; font-weight: 700;}
h2,.h2{font-size: 46.88px;}
h3,.h3{font-size: 30px;}
h4, .h4,a{font-size: 24px;}
h5,.h5{font-size: 19.2px;}
h6,.h6{font-size: 15.36px; font-weight: 400;}

a {
    color: $acc2;
    font-weight: 400;

    background:
            linear-gradient(to right, $acc2, $acc2),
            $acc1_to_acc2;
    
        background-size: 100% 1px, 0 1px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;

    &.acc1{
        background:
                linear-gradient(to right, $acc1, $acc1),
                $acc2_to_acc1;
            background-size: 100% 1px, 0 1px;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            transition: background-size 400ms;
    }

    text-decoration: none;
    &:hover, &:focus {
        background-size: 0 1px, 100% 1px;
    }

    // text-underline-offset: 3px;
    // text-decoration-thickness: 1px;
    // transition: $trans;

    // &:hover {
    //     text-underline-offset: 4px;
    //     // text-decoration-thickness: 2px;
    // }
}

.light{color: $light;}
.acc1 {
    color: $acc1;
}

.acc2 {
    color: $acc2;
}

.darker_text{color: $gray3;}
// .darker_text {color: $gray2;}

.bold {
    font-weight: 700;
}

.norm {
    font-weight: 400;
}

.thin {
    font-weight: 300;
}