/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;700&display=swap');

html, body{
    width: 100vw;
    height: 100vh;

    // background-color: black;
    background: radial-gradient(50% 50% at 50% 50%, #07071D 0%, #07070C 100%);
    color: $light;
    color-scheme: dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    overflow-x: hidden;
}

h1, .h1,  h2, .h2,  h3, .h3,  h4, .h4, h5, .h5, h6, .h6, a, html, body, button, input{
    font-family: 'Jost', 'Open Sans', sans-serif;
    font-weight: 200;

    padding: 0;
    margin: 0;
    margin-block-start:0px;
    margin-block-end:0px;
}

h1,.h1{font-size: 73.24px; font-weight: 700;}
h2,.h2{font-size: 46.88px;}
h3,.h3{font-size: 30px;}
h4, .h4,a{font-size: 24px;}
h5,.h5{font-size: 19.2px;}
h6,.h6{font-size: 15.36px; font-weight: 400;}