/* Variables and mixins declared here will be available in all other SCSS files */

//color theme
$dark: #07070C;
$dark_blue: #07071D;
$gray1: #0D0D0E;
$gray2: #303031;
$gray3: #48484d;
$light: #FFFFFF;

$acc1: #FCF300;
$acc2: #FF1074;

//color usages
$radial_bg: radial-gradient(50% 50% at 50% 50%, $dark_blue 0%, $dark 100%);
$acc1_grad: linear-gradient(to right, $acc1 0%, rgba(142, 137, 4, 0) 100%);
$acc2_grad: linear-gradient(to right, $acc2 0%, rgba(13, 11, 113, 0) 100%);

$acc1_to_acc2: linear-gradient(to right, $acc1, $acc2);
$acc2_to_acc1: linear-gradient(to right, $acc2, $acc1);

//blooms
$bloom_thin: 4px;
$bloom: 64px;
$text_shadow: 0px 0px 16px rgba(255, 255, 255, 0.16);

//universal paddings, spaces, gaps, margins for consistent alignment
$trans: 140ms ease-in-out;
$pad: 24px;
$pad_small: 12px;
$gap: 6px;

@mixin no_spacings {
    margin: 0px;
    padding: 0px;
    display: block;
    width: auto;
    height: auto;
}