:root {
  font-family: "Jost", "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;

  font-family: "Jost", "Open Sans", Arial, sans-serif;
}